@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "GenshinImpact";
  src: url("./assets/fonts/zhcn.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  @apply font-sans; /* Use Tailwind's default class */
}
